{% extends 'chufang/base.html' %}
{% load chufang %}

{% block styles %}
    <style>
        th {
            vertical-align: middle !important;
        }
        td {
            vertical-align: top !important;
        }
    </style>
{% endblock styles %}

{% block scripts %}
    <script>
        function toggle_upload_file_button() {
            if ($("input#sequence-listing-file").get(0).files.length > 0 && $("input#manual-files").get(0).files.length > 0) {
                $("input#upload-file").prop("disabled", false);
            }
            else {
                $("input#upload-file").prop("disabled", true);
            }
        }
        $("input.custom-file-input").on("change", function() {
            var files = [];
            for (var i = 0; i < $(this)[0].files.length; i++) {
                files.push($(this)[0].files[i].name);
            }
            $(this).next('.custom-file-label').html(files.join(', '));

            toggle_upload_file_button();
        });
    </script>
{% endblock scripts %}

{% block main_content %}

    {% for message in messages %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <strong>{{ message.extra_tags }}</strong>
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}

    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Sequence Listing Conversion and Comparison</h5>
                    <form method="POST" enctype="multipart/form-data" id="upload-file-form">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="sequence-listing-file" name="uploaded-sequence-listing-file"
                                       accept="text/plain">
                                <label class="custom-file-label" for="custom-file">Choose a sequence listing file (~.txt)</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="manual-files" name="uploaded-manual-files"
                                       accept="application/vnd.openxmlformats-officedocument.wordprocessingml.document" multiple>
                                <label class="custom-file-label" for="custom-file">Choose manual files (~.docx)</label>
                            </div>
                        </div>
                        <div class="text-right">
                            <input class="btn btn-primary" type="submit" value="Convert and Compare" id="upload-file" form="upload-file-form" disabled>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% if seq_dict %}
        <hr>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ filename }}</h5>
                        <table class="table table-striped table-dark table-bordered" style="table-layout: fixed">
                            <thead>
                                <th style="width: 110px">Seq Index</th>
                                <th style="width: 120px">
                                    Seq Length<br>Seq Type
                                </th>
                                <th>Seq</th>
                            </thead>
                            <tbody>
                                <tbody>
                                    {% for index, seq_content in seq_dict.items %}
                                        <tr>
                                            <td>{{ index }}</td>
                                            <td>
                                                {{ seq_content.len }}<br>{{ seq_content.type }}
                                            </td>
                                            <td style="overflow-wrap: break-word">
                                                {% if seq_content.dna_or_rna_seq %}
                                                    {{ seq_content.dna_or_rna_seq }}
                                                    {% if seq_content.prt_seq %}
                                                        <hr>
                                                        <b>PRT</b><br>
                                                        {% mark_unknown_prt_abbreviation seq_content.prt_seq %}
                                                    {% endif %}
                                                {% elif seq_content.prt_seq %}
                                                    {% mark_unknown_prt_abbreviation seq_content.prt_seq %}
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock main_content %}
